li {
  list-style: none;
}

.flex {
  display: flex;
}

.nav-list {
}

.gap-4 {
  gap: 4px;
}

.gap-6 {
  gap: 6px;
}
.gap-8 {
  gap: 8px;
}

#submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
